doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie-edge')
  link(rel='stylesheet' href='./style.css')
  title Weather Application
.location
  h1.location-timezone Timezone
  canvas.icon(width='128' height='128')
.temperature
  .degree-section
    h2.temperature-degree ...
    span F
  .temperature-description
    | Kuyashisa Lana
    div
    script(src='skycons.js' charset='utf-8')
    script(src='app.js' charset='utf-8')